{% extends 'base.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block style %}
    <style>
        .fade {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .fade.show {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="https://images.surferseo.art/d0772481-e3e5-4c2f-ab17-cf5e30f5d0eb.jpeg"
                    alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: center;">
                </div>

                <div class="col-sm-6 text-black">
                    <div class="container d-flex flex-column justify-content-center align-items-center vh-100 fade" id="auth-container">
                        <h1 class="display-4 text-center" style="font-size: 3rem; font-weight: 900;">Добро пожаловать в PyLearn!</h1>
                        <p class="lead text-center">Здесь вы можете найти множество полезной информации.</p>
                        <a href="/login" class="btn btn-primary btn-lg" onclick="fadeOut()">Войти в систему</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block script %}
    <script>
        function fadeOut() {
            const container = document.getElementById('auth-container');
            container.classList.remove('show');
            container.classList.add('fade');
        
            setTimeout(() => {
                window.location.href = '/login';
            }, 500);
        }
        document.addEventListener('DOMContentLoaded', () => {
            const container = document.getElementById('auth-container');
            container.classList.add('show');
        });
    </script>
{% endblock %}
