
{% extends 'base.html' %}

{% block title %}
	<title>Смена пароля</title>
{% endblock %}

{% block style %}
    <style>
        .profile-pic{
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
        }

        .profile-pic img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .profile-menu .dropdown-menu {
            right: 0;
            left: unset;
        }

        .profile-menu .fa-fw {
            margin-right: 10px;
        }

        .toggle-change::after {
            border-top: 0;
            border-bottom: 0.3em solid;
        }

        .navbar-nav .nav-link {
            font-size: 1.25rem;
        }

        .card-text {
            color: black;
            text-decoration: none;
        }

        .card {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .card-title {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div></div>
        <h1 class="text-center">Смена пароля</h1>
            {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {% endif %}
            {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                            {{ error }}
                    </div>
            {% endfor %}
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                      <label for="email" class="form-label">Почта:</label>
                      <input type="email" required class="form-control" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Пароль:</label>
                      <input type="password" required class="form-control" name="password" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="complete_password" class="form-label">Подтверждение пароля:</label>
                        <input type="password" required class="form-control" name="complete_password" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}
